.container
  h1#course-title {{ course.title }}
  .row
    .col-md-3
      .list-group#course-controls(role='tablist')
        a.list-group-item.list-group-item-action#list-new-lesson-list(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()' data-toggle='list' href='#lesson-form-tab' role='tab' aria-controls='lesson form') New Lesson
        a.list-group-item.list-group-item-action#list-edit-lesson-list(data-toggle='list' href='#lesson-form-tab' ng-hide='true')
        a.list-group-item.list-group-item-action#list-course-details-list(data-toggle='list' href='#details' role='tab' aria-controls='course details') Course Details
        a.list-group-item.list-group-item-action(href='/courses') Back

      .list-group#lessons-tab-list(role='tablist')
        a.list-group-item.list-group-item-action(ng-repeat='lesson in lessons' data-toggle="list" href="#list-{{ lesson._id }}" role="tab" aria-controls="{{ lesson.title }}" mv-lessons-tab-item) {{ lesson.title }}
    .col-md-9#lessons-panes
      .tab-content#lessons-tabs
        .tab-pane.fade#lesson-form-tab(role='tabpanel' aria-labelledby='list-new-lesson-list')
          include /views/partials/lessons/form
        .tab-pane.fade#details(role='tabpanel' aria-labelledby='list-course-details-list')
          include /views/partials/courses/course-details

        .lesson.tab-pane.fade(ng-repeat='lesson in lessons' id="list-{{ lesson._id }}" role="tabpanel" mv-lessons-pane-item)
          .card.border-dark.mb-3
            .card-header.text-center.text-white.bg-dark
              h2 {{ lesson.title }}
            .card-body
              pre.lesson-content
            .card-footer
              .lessons-navigation
                button.btn.btn-link.previous-lesson-btn(type='button') Previous
                a(href='/courses') Course List
                button.btn.btn-link.next-lesson-btn(type='button') Next
              div.lesson-footer(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()')
                button.btn.btn-primary(ng-click='edit(lesson._id)' type='button') Edit
                button.btn.btn-danger(ng-click='confirm(lesson._id)' type='button') Delete

include /views/partials/messages/delete-modal
