.container
  h1#course-title {{ course.title }}
  .row
    .col-md-3
      .list-group#course-controls(role='tablist')
        a.list-group-item.list-group-item-action#list-new-lesson-list(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()' data-toggle='list' href='#lesson-form-tab' role='tab' aria-controls='new lesson form') New Lesson
        a.list-group-item.list-group-item-action#list-edit-lesson-list(data-toggle='list' href='#lesson-form-tab' ng-hide='true')
        a.list-group-item.list-group-item-action#list-course-details-list(data-toggle='list' href='#details' role='tab' aria-controls='course details') Course Details
        a.list-group-item.list-group-item-action(href='/courses') Back

      .list-group#lessons-tab-list(role='tablist')
        a.list-group-item.list-group-item-action(ng-repeat='lesson in lessons' data-toggle="list" href="#list-{{ lesson._id }}" role="tab" aria-controls="{{ lesson.title }}" mv-lessons-tab-item) {{ lesson.title }}
    .col-md-9
      .tab-content#lessons-tabs
        .tab-pane.fade#lesson-form-tab(role='tabpanel' aria-labelledby='list-new-lesson-list')
          div(ng-include='"/partials/lessons/new-lesson"')
        .tab-pane.fade#details(role='tabpanel' aria-labelledby='list-course-details-list')
          div(ng-include='"/partials/courses/course-details"')

        .lesson.tab-pane.fade(ng-repeat='lesson in lessons' id="list-{{ lesson._id }}" role="tabpanel")
          .card.border-dark.mb-3
            .card-header.text-center.text-white.bg-dark {{ lesson.title }}
            .card-body
              pre.lesson-content
            .card-footer(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()')
              button.btn.btn-primary(ng-click='edit(lesson._id)' type='button') Edit
              button.btn.btn-danger(ng-click='confirm(lesson._id)' type='button') Delete

.modal.fade#delete-modal(tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h3.modal-title#deleteModalLabel Confirmation
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p Are you sure you want to delete this lesson?
      .modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-primary(ng-click="delete()" type="button" data-dismiss="modal") Yes
