.container
  .row
    .col-md-10.offset-md-1
      div(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()')
        include /views/partials/courses/form
      form.form-inline.float-right#course-list-search-form
        div#course-links(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()')
          button.btn.btn-link(type='button' ng-click='all()') All
          button.btn.btn-link(type='button' ng-click='unpublished()') unpublished
        input.form-control(ng-model='searchText', placeholder='filter')
        select.form-control(ng-model='sortOrder', ng-options='item.value as item.text for item in sortOptions')
        select.form-control(ng-model='featuredFilter', ng-options='item.value as item.text for item in featuredOptions')
      table.table.table-hover.table-striped.table-sm.course-list-table
        thead
          tr
            th Title
            th Publish Date
        tbody
          tr(ng-repeat='course in courses | filter:searchText | filter:{featured:featuredFilter} | orderBy:sortOrder')
            td
              a(href='/courses/{{ course._id }}') {{ course.title }}
            td {{ course.published | date }}
            td(ng-show='mvIdentity.isAuthenticated() && mvIdentity.currentUser.isAdmin()')
              button.btn.btn-link.edit-course-btn(type='button' ng-click='edit(course._id)') edit
              button.btn.btn-link(type='button' ng-click='confirm(course._id)') delete

include /views/partials/messages/delete-modal
