.card.border-dark.mb-3
  .card-header.text-center.text-white.bg-dark New Courses
  .card-body
    div.new-course(ng-repeat='course in courses | orderBy:published:true | limitTo:10')
      a(href='/courses/{{ course._id }}') {{ course.title }}
      span {{ course.published | date: 'MMM d' }}
