.card.border-dark.mb-3
  .card-header.text-center.text-white.bg-dark New Courses
  .card-body
    .row(ng-repeat='course in courses | orderBy:published | limitTo:10')
      .col-md-3 {{ course.published | date: 'MMM d' }}
      .col-md-9
        a(href='/courses/{{ course._id }}') {{ course.title }}
      