.modal.fade#delete-modal(tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h3.modal-title#deleteModalLabel Confirmation
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p {{ modalText }}
      .modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-primary(ng-click="delete()" type="button" data-dismiss="modal") Yes