[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.navbar
  margin-bottom: 2rem
  
.jumbotron
  margin-top: -2rem

.navbar .form-inline
  input, button
    margin-left: 10px
    
.content .form-inline
  margin-bottom: 1rem
  select
    margin-left: 10px

footer
  border-top: 1px solid #343a40
  padding: 1rem
  margin-top: 1rem

.toast-top-right
  top: 4rem
  
.toast-success
  background-color: #0CB0E8
  
.error-message
  color: #dc3545
  
.ng-dirty.ng-invalid
  border-color: #dc3545
  &:focus
    border-color: #dc3545
    box-shadow: 0 0 0 0.2rem rgba(217,31,49,.25)
    
input[type='email'].ng-dirty.ng-invalid:focus
  border-color: #80bdff
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
