@import 'sunburst'

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.navbar
  margin-bottom: 2rem
  
.jumbotron
  margin-top: -2rem

.navbar .form-inline
  input, button
    margin-left: 10px
    
.content .form-inline
  margin-bottom: 1rem
  select
    margin-left: 10px

footer
  border-top: 1px solid #343a40
  padding: 1rem
  margin-top: 1rem

.toast-top-right
  top: 4rem
  
.toast-success
  background-color: #0CB0E8
  
.error-message
  color: #dc3545
  
.ng-dirty.ng-invalid
  border-color: #dc3545
  &:focus
    border-color: #dc3545
    box-shadow: 0 0 0 0.2rem rgba(217,31,49,.25)
    
input[type='email'].ng-dirty.ng-invalid:focus
  border-color: #80bdff
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
  
pre
 white-space: pre-wrap       /* css-3 */
 white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
 white-space: -pre-wrap      /* Opera 4-6 */
 white-space: -o-pre-wrap    /* Opera 7 */
 word-wrap:   break-word     /* Internet Explorer 5.5+ */

#course-title
  text-align: center
  margin-bottom: 2rem

#course-controls
  margin-bottom: 3rem
  
.lesson
  .card-footer
    display: flex
    justify-content: flex-end
    button
      min-width: 5rem
      margin-left: .5rem

.lesson-controls
  button
    margin-right: .5rem
    
#content-field
  min-height: 5rem
  margin-bottom: .5rem
    
#content-field, .lesson-content
  > div
    text-indent: 1.5rem
    min-height: 1.5rem
    margin-bottom: 1rem
    h3
      text-align: center
      margin-right: 1.5rem
  
.lesson-content-input
  button
    margin-right: .25rem
  #content-buttons, #field-buttons
    display: inline-block
  #content-buttons
    margin-right: 1rem
  #field-buttons
    text-align: right
    button
      width: 5rem

.bash-field, .code-field
  width: 95%
  margin: 1rem auto
  padding: 1rem
  border-radius: .5rem
  min-height: 1.5rem
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  div {
    min-height: 1.35rem
  }
  
.bash-field
  background-color: #313140
  color: #4EF28C

.code-field
  background-color: #555
  color: #f1f2f3
  
#link-modal
  .modal-body
    display: flex
    .form-control
      width: initial
    select
      flex-grow: 1
    input
      flex-grow: 9

@media (max-width: 767px)
  .navbar-collapse
    .form-inline
      input, button
        margin-left: 0
        margin-bottom: .5rem
