[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.navbar .form-inline
  input, button
    margin-left: 10px

footer
  border-top: 1px solid #343a40
  padding: 1rem
  margin-top: 1rem

.toast-top-right
  top: 4rem
  
.toast-success
  background-color: #0CB0E8
