pre
 white-space: pre-wrap       /* css-3 */
 white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
 white-space: -pre-wrap      /* Opera 4-6 */
 white-space: -o-pre-wrap    /* Opera 7 */
 word-wrap:   break-word     /* Internet Explorer 5.5+ */
    
#content-field
  min-height: 5rem
  margin-bottom: .5rem
    
#content-field, .lesson-content
  > div
    text-indent: 1.5rem
    min-height: 1.5rem
    margin-bottom: 1rem
    h3
      text-align: center
      margin-right: 1.5rem
  
.lesson-content-input
  button
    margin-right: .25rem
  #content-buttons, #field-buttons
    display: inline-block
  #content-buttons
    margin-right: 1rem
  #field-buttons
    text-align: right
    button
      width: 5rem

.bash-field, .code-field
  width: 95%
  margin: 1rem auto
  padding: 1rem
  border-radius: .5rem
  min-height: 1.5rem
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  div {
    min-height: 1.35rem
  }
  
.bash-field
  background-color: #313140
  color: #4EF28C

.code-field
  background-color: #555
  color: #f1f2f3
  
#link-modal
  .modal-body
    display: flex
    .form-control
      width: initial
    select
      flex-grow: 1
    input
      flex-grow: 9
      
@media (max-width: 767px)
  .lesson-content-input
    #content-buttons, #field-buttons
      text-align: center
      button
        margin: .25rem
 