.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Plato
    ul.navbar-nav.mr-auto
      li.navbar-item.active
        a.nav-link(href='/') Home
      li.navbar-item.active
        a.nav-link(href='/courses') Courses
    div(ng-include='"/partials/account/navbar-login"')
