.container
  .jumbotron.text-center
    h1 Plato
    p The system that will allow you to gain somewhat tolerable learning experience.
  .row
    .col-md-6
      div(ng-include='"/partials/courses/new-courses"')
    .col-md-6
      div(ng-include='"/partials/courses/featured-courses"')
