script(src='/scripts/jquery/dist/jquery.min.js')
script(src='/scripts/angular/angular.min.js')
script(src='/scripts/angular-route/angular-route.min.js')
script(src='/scripts/angular-resource/angular-resource.min.js')
script(src='/scripts/toastr/build/toastr.min.js')
script(src='/js/app.js')
script(src='/js/controllers/mainCtrl.js')
script(src='/js/controllers/navbarLoginCtrl.js')
script(src='/js/services/notifier.js')
script(src='/js/services/identity.js')
script(src='/js/services/auth.js')
script(src='/js/services/userResource.js')
script(src='/js/controllers/userListCtrl.js')
script(src='/js/controllers/signupCtrl.js')
