script(src='/scripts/jquery/dist/jquery.min.js')
script(src='/scripts/angular/angular.min.js')
script(src='/scripts/angular-route/angular-route.min.js')
script(src='/scripts/angular-resource/angular-resource.min.js')
script(src='/scripts/ngstorage/ngStorage.min.js')
script(src='/scripts/toastr/build/toastr.min.js')
script(src='/js/app.js')
script(src='/js/controllers/MainCtrl.js')
script(src='/js/controllers/NavbarLoginCtrl.js')
script(src='/js/services/mvNotifier.js')
script(src='/js/services/mvIdentity.js')
script(src='/js/services/mvAuth.js')
script(src='/js/services/mvUser.js')
script(src='/js/controllers/UserListCtrl.js')
script(src='/js/controllers/SignupCtrl.js')
script(src='/js/controllers/ProfileCtrl.js')
script(src='/js/services/mvCourse.js')
script(src='/js/services/mvCachedCourses.js')
script(src='/js/controllers/CourseListCtrl.js')
script(src='/js/controllers/CourseDetailsCtrl.js')
script(src='/js/directives/mvPasswordConfirmation.js')
script(src='/js/controllers/LessonsCtrl.js')
script(src='/js/services/mvLesson.js')
script(src='/js/directives/mvLessonsTabItem.js')
script(src='/js/services/mvLessonFactory.js')
script(src='/js/services/mvLessonContent.js')
