script(src='/scripts/jquery/dist/jquery.slim.min.js')
script(src='/scripts/angular/angular.min.js')
script(src='/scripts/angular-route/angular-route.min.js')
script(src='/scripts/angular-resource/angular-resource.min.js')
script(src='/js/app.js')
